@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --green-color: #4bffa5;
  --grey: #b8b7bc;
  --light-grey-color: #f3f5f1;
  --black: black;
  --caribb-green-color: #02bfae;
}
body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
  background-color: var(--light-grey-color);
}
h1,
h2,
h3,
h4 {
  color: var(--black);
}
input,
button {
  outline: 0;
  font-family: inherit;
  font-size: 1rem;
  border: none;
}
button {
  cursor: pointer;
}

/* modal */
#fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}
.modal {
  background-color: #fff;
  border-radius: 0.6rem;
  overflow: hidden;
  display: none;
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 5;
}
.modal-head {
  background-color: var(--green-color);
  padding: 1.2rem 2.4rem;
  font-size: 1.5rem;
  color: #fff;
  position: relative;
}
.modal-head h3 {
  color: #fff;
}
#close-btn {
  background-color: transparent;
  font-size: 1.4rem;
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  display: block;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: var(--grey);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  transition: all 200ms ease;
}
#close-btn:hover {
  transform: scale(1.1);
}
.modal-main {
  padding: 1.2rem 2.4rem 1rem 2.4rem;
  max-width: 580px;
  min-width: 500px;
}
.modal-row {
  margin-bottom: 1.2rem;
}
.grid-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.3rem;
}
.modal-col label {
  display: block;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 0.6rem;
}
.modal-col input,
.modal-col select {
  border: 1px solid rgba(184, 183, 188, 0.5);
  border-radius: 3px;
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  font-family: inherit;
  outline: 0;
  width: 100%;
}
#modal-btns button {
  font-size: 1.1rem;
  color: #fff;
  border-radius: 4px;
  padding: 0.6rem 2rem;
  transition: all 200ms ease;
}
#modal-btns button:hover {
  transform: translateY(1px);
}
#save-btn,
#update-btn {
  box-shadow: 0 2px 0 0 #101010;
  background-color: var(--green-color);
  margin-right: 0.6rem;
}
#save-btn:hover,
#update-btn:hover {
  box-shadow: 0 1px 0 0 #101010;
}
#delete-btn {
  background-color: #101010;
  box-shadow: 0 2px 0 0 #101010;
}
#delete-btn:hover {
  box-shadow: 0 1px 0 0 #101010;
}

/* address list */
.abook {
  padding: 1.4rem;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 700px !important;
}
.abook-content {
  background-color: #fff;
  padding: 1.6rem;
  border-radius: 4px;
}
.abook-head {
  padding-top: 1.5rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
.abook-head h2 {
  font-size: 2.2rem;
}
.abook-head i {
  color: var(--green-color);
  margin-right: 1rem;
}
.abook-top {
  padding: 1rem 0;
}
.abook-top .btn {
  color: #fff;
  padding: 0.8rem;
  border-radius: 3px;
  transition: all 200ms ease;
  background-color: var(--green-color);
  box-shadow: 0 2px 0 0 #101010;
}
.abook-top .btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 0 0 #101010;
}
.abook-list {
  margin: 1rem 0;
  min-height: 450px;
}
.addr-table {
  margin-top: 2rem;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.addr-table thead {
  border-bottom: 1px solid #e3e4f1;
}
.addr-table thead tr th {
  padding-bottom: 0.8rem;
}
.addr-table tbody td {
  padding: 1.5rem 0;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
}
.addr-table tbody td:nth-child(1) {
  padding-left: 0.5rem;
  padding-right: 1rem;
}
.addr-table tbody td:nth-child(2) {
  font-weight: 800;
}
.addr-table .addressing-name {
  color: var(--black);
}
.addr-table .address {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}
.addr-table tbody td:nth-child(3) span {
  background-color: var(--light-grey-color);
  display: inline-block;
  padding: 0.3rem 0.6rem;
  border-radius: 8px;
}
.addr-table tbody tr {
  cursor: pointer;
}
.addr-table tbody tr:hover {
  background-color: var(--green-color);
  transition: all 200ms ease;
}
.addr-table tbody tr:hover td,
.addr-table tbody tr:hover span {
  color: #fff;
}
.addr-table tbody tr:hover td:nth-child(3) span {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.6);
}

/* for error message */
.errorMsg {
  border: 1px solid red !important;
}
